{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block csspart %}
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    {% endblock csspart %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <style>
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    </style>
  </head>
  {% load crispy_forms_tags %} {%block bodycontent%}
  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd">
      <a class="navbar-brand" href=""> Home </a>
    </nav>
    <div class="container mt-5 mb-4">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div
            class="card bg-light text-dark align-items-center text-center border border-dark rounded"
          >
            <div class="align-items-end">
              <a
                href="{% url 'accounts:changepass' %}"
                class="mt-2 btn btn btn-outline-dark align-items-end"
                >Change my password</a
              >
            </div>
            <div class="m-b-25">
              <img
                src="{{user.profile.image.url}}"
                class="img-radius"
                alt="User-Profile-Image"
              />
            </div>

            <div class="card-body">
              <h2 class="card-title .bg-primary account-heading">
                {{ user.full_name }}
              </h2>
              <p class="card-text text-secondary">{{ user.email }}</p>
              <p class="card-text text-secondary">{{ user.address }}</p>
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %} {{form.as_p}}
                <input
                  class="btn btn-primary"
                  type="submit"
                  value="Upload Image"
                />
              </form>
              <a href="{% url 'accounts:accounts' %}" class="mt-2 btn btn-light"
                >Back to Users</a
              >
              <p class="card-text mt-3"></p>

              {% for message in messages %}
              <div class="alert alert-{{message.tags}} mt-2" role="alert">
                {{message}}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endblock bodycontent%} {%block addjquery%}
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    {% endblock addjquery %}
  </body>
</html>
